*{
    margin: 0px;
    padding: 0px;
}

.ariticle_dbutil{
    width: 90%;
    border: 1px solid #e3e3e3;
    border-radius:4px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px rgba(97,97,97,0.48);
    color: #333;
    padding: 19px;
}
.ariticle_dbutil .blog_dutil{
    padding: 25px 19px;
}
.ariticle_dbutil .blog_dutil .blog_title{
    font-size:30px;
    color: #13102b;
    font-weight: normal;
}
.ariticle_dbutil .blog_dutil .blog_title:hover{
    color: #337ab7;
}
.ariticle_dbutil .blog_dutil>p{
    margin: 10px 0px;
    font-size: 14px;
}
.ariticle_dbutil .blog_dutil>p>a{
    color: #337ab7;
}
.ariticle_dbutil .blog_dutil>p a{
    color: #13102b;
}
.alert-success{
    background-color: #dff0d8;
    color: #3c763d;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 20px;
}
.post-copyright {
    background-color: #dff0d8;
}
.post-copyright a{
    color: #3c763d;
}

.translate{
    width: 88%;
    /*height: 400px;*/
    border: 1px solid #e3e3e3;
    border-radius:4px;
    margin-bottom: 20px;
    padding: 15px 10px 15px 18px;
    background-color: #d9edf7;
    box-shadow: 1px 1px 5px rgba(97,97,97,0.48);
    color: #333;

}
.translate h3{
    font-size: 16px;
    margin-right: 6px;
}
.translate .translate-item{
    /*width: 88%;*/
    /*width: 50%;*/
    border: 1px solid #e3e3e3;
    border-radius:4px;
    margin-bottom: 20px;
    padding: 15px 10px 15px 18px;
    box-shadow: 1px 1px 5px rgba(97,97,97,0.48);
    color: #333;
    margin-top: 20px;

}
.translate .translate-item .translate-item-people{
    color: #777ab7;
    border: 1px dashed #337ab7;
    padding: 6px 8px;
    margin-bottom: 20px;
}
.translate .translate-item .translate-item-people .translate-item-people-Msg{
    display: flex;
    align-items: center;
    width: 600px;
}
.translate .translate-item .translate-item-people .translate-item-people-Msg span.my_Msg{
    margin:0px 8px 0px 5px;
}
.translate .translate-item .translate-item-people .translate-item-people-Msg span.reply{
    margin-left: 5px;
    cursor: pointer;
    color: #337ab7;
}
.translate .translate-item .translate-item-people .translate-item-people-Msg span.reply:hover{
    color: #333;
}
.translate .translate-item .translate-item-people img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.translate .translate-item .translate-item-people p{
    margin-left: 20px;
}

/*作者评论*/
.translate .translate-item .my_reply{
    width: 90%;
    color: #777ab7;
    border: 1px dashed #337ab7;
    padding: 6px 8px;
    margin-left: 7.3%;
    margin-top: 7px;
}
.translate .translate-item .my_reply .reply-item-Msg{
    display: flex;
    align-items: center;
    width: 600px;
}
.translate .translate-item .my_reply .reply-item-Msg span.my_Msg{
    margin:0px 8px 0px 5px;
}
.translate .translate-item .my_reply .reply-item-Msg span.reply{
    margin-left: 5px;
    cursor: pointer;
    color: #337ab7;
}
.translate .translate-item .my_reply .reply-item-Msg span.reply:hover{
    color: #333;
}
.translate .translate-item .my_reply img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.translate .translate-item .my_reply p{
    margin-left: 20px;
}